<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-4 slides">
            <ul class="list-unstyled"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 sidebar">
            <div class="sidebar-container">
                <div class="well sidebar-navigation">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="locate-page">
                                <label class="control-label sr-only">מספר דף:</label>
                                <input class="form-control" placeholder="מספר דף">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form id="locate-slide">
                                <label class="control-label sr-only">מספר שקף:</label>
                                <input class="form-control" placeholder="מספר שקף">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well sidebar-authors">
                    <h3>מחברים</h3>
                    <ul class="list-unstyled authors"></ul>
                </div>
                <div class="well books">
                    <h3>ספרים</h3>
                    <ul class="list-unstyled"></ul>
                </div>
                <div class="well bookmarks">
                    <h3>סמניות</h3>
                    <ul class="list-unstyled"></ul>
                </div>
                <div class="well sidebar-question">
                    <div class="pull-left">
                        <a class="btn btn-warning clear-all" href="#">clear</a>
                        &nbsp;
                        <a class="btn btn-danger switch-slides-question" href="#">switch</a>
                        &nbsp;
                        <a class="btn btn-default show-question" href="#">show question</a>
                    </div>
                    <h3>שאלה לסדנה​</h3>

                    <div class="content question" style="border: 1px solid black;"></div>
                    <div class="container really-slim">
                        <div class="col-md-4 really-slim">
                            <div class="form-inline well really-slim">
                                <fieldset>
                                    <input id="message" class="col-md-11" type="text">
                                    <button id="send" class="hidden btn btn-primary">Send</button>
                                    <div class="led led-red"></div>
                                </fieldset>
                            </div>
                            {{with .DataUri}}<div id="chat" class="well" data-uri={{. | urlquery}}>{{.}}</div>{{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
