<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Question</title>

    <link rel="stylesheet" type="text/css" media="all" href="{{asset_path "application.css.css"}}" />
    <!--= csrf_meta_tags-->
<body>
    {{ yield }}

    <script type="text/javascript" src="{{asset_path "jquery.min.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "jquery-ui.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "jquery_ujs.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "bootstrap-sprockets.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "handlebars-v2.0.0.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "jquery.cookie.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "file_handler.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "template_manager.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "bookmarks.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "books.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "restore_state.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "big_window.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "event_controller.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "reconnecting-websocket.js"}}"></script>
    <script type="text/javascript" src="{{asset_path "application.js"}}"></script>
</body>
</html>

