/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *#= require jquery-ui
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "bootstrap-rtl.min";

$bg-color: rgb(243, 238, 238);

body {
  direction: rtl;
  padding: 60px 20px 0;
  background: $bg-color;
}

// SIDEBAR
.sidebar {
  position: fixed;
  top: 60px;
  bottom: 20px;
}

.sidebar-container {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  right: $grid-gutter-width / 2;
  left: $grid-gutter-width;
}

.sidebar-navigation, .sidebar-authors, .sidebar-books, .sidebar-bookmarks, .sidebar-question {
  flex: 0 0 auto;
  margin-bottom: 10px;
  padding: 10px 19px;
  h3 {
    margin-top: 0;
  }
  ul {
    height: $line-height-computed * 3.5;
    overflow: auto;
    padding: 0 $line-height-computed / 2;
    background: $bg-color;
    a {
      color: #555555;
    }
  }
  li.active a {
    color: red;
    background: beige;
    display: block;
  }
}

.sidebar-books {
  flex: 1 1 auto;
  position: relative;
  ul {
    height: auto;
    position: absolute;
    top: 46px;
    left: 19px;
    right: 19px;
    bottom: 10px;
  }
}

.sidebar-question {
  margin-bottom: 0;
}

.wrap {
  height: 195px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.5em;
  padding: 0.5em 2em 0;
  background: linear-gradient(left, hsla(36, 18, 74, 0.6) 0%, hsla(36, 18, 74, 0.90) 15%, hsla(36, 18, 74, 0.90) 85%, hsla(36, 18, 74, 0.6) 100%);
  color: hsl(0, 0, 0);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  line-height: 1.1;
  box-shadow: inset 0 0 40px hsla(0, 0, 0, 0.4);
  text-align: right;
  cursor: move;
  h3 {
    margin: 0 0 0 1em;
    line-height: 1em;
    font-size: 1.4em;
    text-align: center;
  }
}

.slides {
  position: relative;
  z-index: 5000;
  margin-top: 60px;
  .handle {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: gray;
    padding: 3px 2px 1px 3px;
    border-radius: 5px;
    border: 1px solid white;
  }
  .active {
    background: red;
  }
}

#load_from_disk {
  width: 20%;
  &.over {
    border: 2px dashed #000;
  }
}

.navbar {
  z-index: 10000;
}

.navbar-header {
  float: left;
}

#error_explanation {
  clear: both;
  direction: rtl;
  color: #f00;
  ul {
    list-style: disc;
    margin: 0 0 18px 0;
  }
}

.help-inline {
  color: red;
}

#chat {
  height: 70px;
  overflow: auto;
}

.really-slim {
  padding: 5px;
  margin: 0;
}

#message {
  background: $bg-color;
}

.led {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: left;
  &.led-red {
    background-color: #F00;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
  }
  &.led-yellow {
    background-color: #A90;
    box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
  }
  &.led-green {
    background-color: #690;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
  }
  &.led-blue {
    background-color: #4AB;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
  }

}
